<?xml version="1.0"?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PerfLoggingPOC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PerfLoggingPOC.Properties.Settings>
            <setting name="EnablePerformanceLogging" serializeAs="String">
                <value>True</value>
            </setting>
        </PerfLoggingPOC.Properties.Settings>
    </applicationSettings>

  <log4net>
    <appender name="PerfLog" type="log4net.Appender.RollingFileAppender" additivity="false">
      <file value="E:\perf.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <datePattern value="yyyyMMdd"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%m%n"/>
      </layout>
    </appender>

    <!-- Defines the root log-->
    <root>
      <level value="ERROR"/>
      <appender-ref ref="CONSOLE"/>
    </root>
    <logger name="PerformanceLogger">
      <level value="VERBOSE"/>
      <appender-ref ref="PerfLog"/>
    </logger>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
